
<link href="~/Css/style.css" rel="stylesheet" />

<nav id="sidebar">
    <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
        <div class="user-logo">
            @*<div class="img" style="background-image: url(images/logo.jpg);"></div>*@
            <h3>Suman Bhattaraj</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            @Html.ActionLink("Home", "Index", "Dashboard")
        </li>
        <li>
            @*<a href="#"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span>Enter Expense</a>*@
            @Html.ActionLink("New Expense Entry", "NewExpenseEntry", "Dashboard")
        </li>
        <li>
            @Html.ActionLink("Charts", "NewCharts", "Dashboard")
        </li>
        <li>
            @Html.ActionLink("Records", "DisplayResult", "Dashboard")
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Aboutt</a>
        </li>
    </ul>

</nav>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/popper.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/popper.js"></script>