@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p><strong>Personal Financer</strong> is web based application built in Asp.Net framework that will help the users to analyze, manage and visualize their personal incomes
    and expenses. It comes with some of the features such as login and register new users, clear visualization of expenses using graph and tables, pagination, searching 
    and many more.</p>
